@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
    .chat-container {
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        height: 100%;
    }

    .messages-container {
        width: 100%;
        height: 85%;
        padding: 10px;
        overflow-y: scroll;
    }

    .submit-messages-container {
        height: 135px;
        width: 100%;
    }
</style>

<div class="chat-container">
    <div class="messages-container border">
        @await Html.PartialAsync("_ChatList", Model.Messages)
    </div>
    <div class="submit-messages-container">
        <form class="form-inline row" id="submitMessageForm">
            <div class="col-10">
                <input class="w-100 p-2 form-control" type="text" id="sendMessageInput" placeholder="Type a Message">
            </div>
            <div class="col-2">
                <button type="submit" class="btn btn-primary mb-2 w-100 mt-2">Send</button>
            </div>
        </form>
    </div>
</div>

<script>
    function setupSignalR() {
        var connection = new signalR.HubConnectionBuilder().withUrl("/chatHub").build();
        connection.on("NewMessage", function () {
            $(".messages-container").load('/Messages');
        });
        connection.start()
            .then(function () {
                console.log('connected to chatHub!');
            }).catch(function (err) {
                return console.error(err.toString());
            });

        return connection;
    }

    $(function () {
        var connection = setupSignalR();

        $('#submitMessageForm').submit(function (e) {
            e.preventDefault();
            var content = $("#sendMessageInput").val();
            if (!content) return;
            $.ajax({
                type: 'post',
                url: '/api/Messages',
                data: JSON.stringify({ content }),
                contentType: 'application/json',
                success: function (e) {
                    $(".messages-container").load('/Messages');
                    $("#sendMessageInput").val("");
                    connection.invoke("NewMessage").catch(function (err) {
                        return console.error(err.toString());
                    });
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.log({ xhr, textStatus, errorThrown });
                    if (xhr.status == 401) {
                        document.location.href = '/Identity/Account/Login'
                    } else {
                        var json = JSON.parse(xhr.responseText);
                        alert(JSON.stringify(json.errors));
                    }
                }
            })
        });
    });
</script>
